@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "Jost";
  src: url("../pages/fonts/Jost400Book.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url("../pages/fonts/Jost600Semi.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url("../pages/fonts/Jost100Hairline.otf");
  font-weight: normal;
  font-style: italic;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.swiper {
  max-width: 800px;
  max-height: 300px;
}
